.info-window-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f8f8f8;
  margin-right: 8px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 8px;
}

.icon.pride {
  background: linear-gradient(
    45deg,
    #ff69b4,
    #ff8c00,
    #ffd900,
    #01a100,
    #4c6ef5,
    #9c27b0
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon.hospital {
  color: #ed7d31;
}

.icon.skull {
  color: #b31227;
}

.icon.balance {
  color: #e6561e;
}

.icon.theft {
  color: #e6781d;
}

.icon.female {
  color: #e4567e;
}
