.alert-form {
	border: 1px solid #ccc;
	padding: 20px;
	width: 400px;
	margin-top: 20px;
}

.submit-button {
	margin-top: 20px;
}

.description {
	font-size: 18px;
	margin-top: 20px;
}

.red-asterisk {
	color: red;
	margin-left: 4px;
}
